body {
  margin: 0;
  background-color: #e1e2eb;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  min-height: calc(100vh - 40px);
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
.h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 22px 0;
}
h2,
.h2 {
  font-size: 20px;
  font-weight: 700;
}
h3,
.h3 {
  font-size: 18px;
  font-weight: 700;
}
h4,
.h4 {
  font-size: 16px;
  font-weight: 700;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e1e2eb;
  margin: 14px 0;
}

.container {
  width: 80vw;
  max-width: 920px;
  margin: 0 auto;
}

@media (max-width: 580px) {
  .container {
    width: 88vw;
  }

  body {
    padding-bottom: 6vw;
  }
}

.greyTxt,
.greyTxtHov {
  color: #757682;
  font-weight: 500;
}

.blackTxt,
.greyTxtHov:hover {
  color: #000;
}
